body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    /* padding: 0 50px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #aaa; */
    background-color: rgb(255, 187, 0);

    position: sticky;
    top: 0px;
    z-index: 100;
}

header h2 {
    padding-left: 50px;
    color: rgb(21, 2, 56);
    text-shadow: 0 0 5px #aaa;

}
nav ul {
    margin: 0px;
    margin-right: 50px;
    padding: 0px;
    height: 70px;
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}

nav ul li a:hover{
    background-color: aliceblue;
    color: rgb(255, 187, 0);
    transition: 200ms;
}
nav ul li a{
    border-radius: 15px;
    color: white;
    text-decoration: none;

    font-weight: bolder;
    padding: 10px 12px;
}

section div {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 5em;
}

#p1 {
    background-image: url(https://i.natgeofe.com/n/506bcd08-37e0-4506-b4cc-328b028cdd8c/NationalGeographic_2683370_3x2.jpg?w=1638&h=1092);
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 10000px; */
    /* position: relative; */
    /* top: 0px; */
    /* position: relative; */
    /* text-align: center; */
    /* padding-top: 300px; */
    /* background-attachment: fixed; */
    /* width: 100vw; */
    
}


#p2{
    background-image: url(https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/secured-attachments/messaging_message/attachment/be3d9196cfb621712ffc0030ad620d07-1707566059369/prato.png?__cld_token__=exp=1707606360~hmac=2209c55d792efc40f06963dcfba4d5c0fbf678ba58a67dbd5c52ffaa30f52b35);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}

#p3 {
    /* position: absolute; */
    position: relative;
    top: 100vh;
    background-color: aquamarine;
}

section {
    background: url(https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/secured-attachments/messaging_message/attachment/1f191d2dbfff6b0aab0a25f28fcbadb0-1707566059379/sfondo.png?__cld_token__=exp=1707606360~hmac=1deb8969e1a16e8f8f27758166192fb7eff56d08849be24a092af6f74c66521e);

}