body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    /* padding: 0 50px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #aaa; */
    background-color: rgb(255, 187, 0);

}

header h2 {
    padding-left: 50px;
    color: rgb(21, 2, 56);
    text-shadow: 0 0 5px #aaa;

}
nav ul {
    margin: 0px;
    margin-right: 50px;
    padding: 0px;
    height: 70px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}

nav ul li{
    
}
nav ul li a:hover{
    background-color: aliceblue;
    color: rgb(255, 187, 0);
    transition: 100ms;
}
nav ul li a{
    border-radius: 15px;
    color: white;
    text-decoration: none;

    font-weight: bolder;
    padding: 12px 14px;
}

